
@font-face {
  font-family: 'solaris-icons';
  src:  url('./assets/fonts/solaris-icons.eot');
  src:  url('./assets/fonts/solaris-icons.eot#iefix') format('embedded-opentype'),
        url('./assets/fonts/solaris-icons.ttf') format('truetype'),
        url('./assets/fonts/solaris-icons.woff') format('woff'),
        url('./assets/fonts/solaris-icons.svg#solaris-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"], .solaris-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'solaris-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
